.inline-block {
    display: inline-block;
    vertical-align: text-top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    position: absolute;
width: 445px;
height: 39px;
left: 1118px;
top: 37px;

}

.heroImg {
    position: absolute;
    width: 613px;
    height: 390px;
    left: 337px;
    top: 37px;
    color: #FF701F;
}

content {
    width: 500px;
    margin: 0 auto;
}

footer {
    
}

li, ul {
    padding: 20px;
    display: inline;
    color: black;

    }

body {
    background-image: lnear-gradient(179.41deg, #000C17 63.56%, rgba(0, 75, 129, 0) 156.52%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

html (
    height: 100%;
)